.slideshow {
    //outline: 5px dashed green;
    width: 100vw;
    height: 100vh;
    background-color: #efeef5;
    .percent-complete {
        position: fixed;
        padding: 0.5rem 1.5rem;
        right: 0;
        color: #999;
        font-size: x-large;
        .current-step-number {
            color: black;
            font-size: xx-large;
        }
    }
    .state {
        font-size: x-small;
        color: green;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 20rem;
        overflow: scroll;
        display: block;
        max-height: 50%;
    }
    .slide {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
        //border: 5px dashed red;
        &.complete {
            //border-color: green;
        }
        padding: 10rem;
    }
    .buttons,
    nav {
        display: flex;
        min-width: 50vw;
        max-width: 80rem;
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        bottom: 4rem;

        > button {
            font-size: xx-large;
            min-width: 5rem;
            &.selected {
                background-color: red;
                color: white;
            }
        }
    }
}
